"events" :[
    {
      "start": "2021-07-01T10:30:00-04:00",
      "end": "2021-07-01T11:30:00-04:00",
      "title": "Dr Brenner - Delray office",
      "allday": false,
      "location": "Linton Boulevard, Linton Blvd, Delray Beach, FL, USA",
      "url": "",
    },
    {
      "start": "2021-07-08T19:30:00-04:00",
      "duration": "1.0",
      "title": "Ivoryton/Downingtown Meeting",
      "allday": "false",
      "url": "https://us02web.zoom.us/j/445777874?pwd=RXNhZnJmLzR1MUFLOURweWc3RTEwUT09",
      "rrule": {
        "freq": "weekly",
        "byweekday": ["th"],
        "dtstart": "2021-07-01T19:30:00-04:00"
      }
    }
  ]
