 "events" :[
    {
      "start": "2021-07-01T10:30:00-04:00",
      "end": "2021-07-01T11:30:00-04:00",
      "title": "Dr Brenner - Delray office",
      "allday": "false",
      "location": "Linton Boulevard, Linton Blvd, Delray Beach, FL, USA",
      "url": ""
    },
    {
      "start": "2021-07-08T19:30:00-04:00",
      "duration": "1.0",
      "title": "Ivoryton/Downingtown Meeting",
      "allday": "false",
      "url": "https://us02web.zoom.us/j/445777874?pwd=RXNhZnJmLzR1MUFLOURweWc3RTEwUT09",
      "rrule": {
        "freq": "weekly",
        "byweekday": ["th"],
        "dtstart": "2021-07-01T19:30:00-04:00"
      }
    },
    {
      "start": "2021-07-04",
      "end": "2021-07-13",
      "title": "Carol @ Pat's",
      "allday": "true",
      "url": ""
    },
    {
      "start": "2021-07-11",
      "end": "2021-07-18",
      "title": "Lisa @ Pat's",
      "allday": "true",
      "url": ""
    },
    {
      "start": "2021-07-13",
      "end": "2021-07-18",
      "title": "Nancy @ Pat's",
      "allday": "true",
      "url": ""
    },
    {
      "start": "2021-06-30T21:00:00-04:00",
      "duration": "1.0",
      "title": "Palisades Group",
      "allday": "false",
      "url": "https://us04web.zoom.us/j/789062646",
      "rrule": {
        "freq": "weekly",
        "byweekday": ["th"],
        "dtstart": "2021-06-30T21:00:00-04:00"
      }
    },
    {
      "start": "2021-07-13T11:00:00-0400",
      "end": "2021-07-13T14:00:00-0400",
      "title": "Mike & Doug Kuck Visit",
      "allday": "false",
      "url":""
    }
  ]
