<link rel=stylesheet href="{{ "css/cal.css" | absURL }}">
<button id=authorize_button style=display:none>Authorize</button>
<button id=signout_button style=display:none>Sign Out</button>
<div class="container-fluid px-4">
  <p id=loading>Loading...</p>
  <div class=row>
    <div class=col-xs-12>
      <div id=pats-calendar></div>
    </div>
  </div>
</div>
<svg id="busy" aria-hidden="true" width="35" height="35" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"
  stroke="#2c2a29">
  <g fill="none" fill-rule="evenodd" stroke-width="2">
    <circle cx="22" cy="22" r="1">
      <animate attributeName="r" begin="0" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1"
        keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
      <animate attributeName="stroke-opacity" begin="0" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1"
        keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
    </circle>
    <circle cx="22" cy="22" r="1">
      <animate attributeName="r" begin="-.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1"
        keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
      <animate attributeName="stroke-opacity" begin="-.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1"
        keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
    </circle>
  </g>
</svg>
</div>
<script></script>
<script
  src="https://cdn.polyfill.io/v3/polyfill.min.js?version=3.52.1&features=Array.prototype.forEach,console,Date.prototype.toISOString,document,Intl,Map,Promise,Set"></script>
<script src=https://unpkg.com/dayjs@1.8.21/dayjs.min.js></script>
<script src=https://unpkg.com/dayjs@1.8.23/plugin/localizedFormat.js></script>
<script>
  dayjs.extend(window.dayjs_plugin_localizedFormat);
</script>
<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){},handleClientLoad()"
  onreadystatechange="this.readyState==='complete'&&this.onload()"></script>

<div class="container-fluid px-4">
  <div class="row">
    <div class="col-xs-12">
      <div id="calendar"></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    moment.locale('en');
    var now = moment();
    $('#calendar').Calendar({
      events: [
        { // An event on the current week on Wednesday from 10h to 12h
          start: now.startOf('week').isoWeekday(3).startOf('day').add(10, 'h'),
          end: now.startOf('week').isoWeekday(3).startOf('day').add(12, 'h'),
          title: 'An event title !',
          content: 'Hello World! <br>Foo Bar<p class="text-right">Wow this text is right aligned !</p>',
          category: 'A test category name'
        }
      ]
    }).init();
  });
</script>