{{ define "main" }}

  <main class="content page-template page-{{ .Slug }}" role="main">
    <article class="post page">
      <header class="post-header">
        <a id="blog-logo" href="{{ "/" | relURL }}">
          {{ .Site.Title }}
        </a>
      </header>
      <h1 class="post-title">{{ .Title }}</h1>
      <h2>What the fuck?</h2>
      <section class="post-content">
      {{ $postTitle := .Title }}

      {{ if eq $postTitle "Calendar" }}
        <h3>Pat's Calendar</h3>
        {{- partial "calendar.html" . -}}
      {{ else }}
        <h3>Not A calendar Page</h3>
        {{ .Content }}
      {{ end }}
      </section>
    </article>
  </main>
{{ end }}
